.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.flexColumn { 
    display: flex;
    flex-direction: column; 
}

.flexRow { 
    display: flex;
    flex-direction: row; 
}

#add-edit-modal {
    margin: 20px;
}

.formRequired:after {
    color: red;
    content: " *";
}

/* .formWarning {
    font-size: 0.8rem;
    color: red;
    font-style: italic;
} */

.modalBackground {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
    background-color: #000000ce;
}

.scrollable {
    overflow-y: scroll;
}

#modal-container {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    max-height: 600px;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
}

#modal-container input {
    font-size: 0.9rem;
}

#modal-container p,
#modal-container label, 
#modal-container option {
    margin: 0;
}

#modal-container form {
    display: flex;
}

.formSection {
    display: flex;
    margin-top: 15px;
}

.formSection input {
    font-size: 1rem;
    margin-top: 3px;
}

.formSection h3 {
    margin: 0px 0px 20px 0px;
}

.DateTimeSelect {
    margin-top: 15px;
    border: 1px solid #E7E7E7;
    border-radius: 5px; 
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.DateTimeSelect input[type="date"],
.DateTimeSelect input[type="time"] {
    margin-bottom: 10px;
}

.DateTimeSelect label {
    margin: 15px 0px 5px 0px;
}

.formFooter {
    margin-top: 30px;
}

.Modalbtn {
    font-size: 1rem;
    padding: 5px 10px;
}

#add-edit-header {
    margin: 0px 0px 20px 0px;
}

#game-form-image-example {
    margin: 20px;
    width: 200px;
    height: 200px;
    align-self: center;
}

#score-toggle {
    margin-top: 15px;
}

#score-toggle label {
    margin: 0;
    font-size: 1rem;
}

#remove-confirm-modal {
    margin: 15px;
}

#remove-confirm-modal h3 {
    margin: 0px 0px 15px 0px;
}

.removeConfirmFooter {
    margin-top: 20px;
    gap: 5px;
}