header, main {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header button {
    font-size: 1rem;
    padding: 15px;
    margin: 50px 0px 25px 0px;
}

/* Table */

#game-table {
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #E7E7E7;
    border-collapse: collapse;
    box-shadow: 2px 5px 5px #cacaca;
    table-layout: fixed;
}

#game-table th,
#game-table td {
    color: #181818;
    white-space: nowrap;
    padding: 10px 15px;
    max-width: 300px;
}

#game-table th {
    background-color: #E7E7E7;
    font-weight: 500;
}

.game-img {
    width: 120px;
    height: 120px;
}

.game-score p {
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
}

.badScore {
    color: #FFFFFF;
    background-color: #FF0700;
}

.mehScore {
    color: #FFFFFF;
    background-color: #FF7200;
}

.okScore {
    color: #FFFFFF;
    background-color: #ffc400;
}

.goodScore {
    color: #FFFFFF;
    background-color: #00f100;
}

.greatScore {
    color: #FFFFFF;
    background-color: #00CBFF;
}

.game-actions td {
    vertical-align: middle;
}

.game-actions button {
    font-size: 1rem;
    padding: 5px;
}

.gameRemoveBtn {
    margin-left: 5px;
}